@{
    ViewData["Title"] = "Home Page";
}

<section id="intro">
    <div class="intro-container">
        <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

            <ol class="carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <div class="carousel-item active">

                    <div class="carousel-background"><img src="~/Images/9.jpg" alt=""></div>
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>WELCOME TO THE  </h2>
                            <h2>MOVIE MANAGEMENT SYSTEM</h2>
                            <a href="Movies/Index" class="btn-get-started scrollto">Get Started</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="carousel-background"><img src="~/Images/6.jpg" alt=""></div>
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>SuperStars</h2>
                            <p>There are Many Superstars which are managed by our company</p>
                            <a href="Actors/Index" class="btn-get-started scrollto">Get Started</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="carousel-background"><img src="~/Images/7.jpg" alt=""></div>
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Producers</h2>
                            <p>Producers are the person who manage to cover the film Budget which is the most important</p>
                            <a href="Producers/Index" class="btn-get-started scrollto">Get Started</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-background"><img src="~/Images/movie.jpg" alt=""></div>
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Movies</h2>
                            <p>You can Create , Edit or Delete Movie</p>
                            <a href="Movies/Index" class="btn-get-started scrollto">Get Started</a>
                        </div>
                    </div>
                </div>



            </div>

            <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
    </div>
</section><!-- #intro -->
